.reviewCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    
}

.reviewCard > span:nth-child(1) {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.reviewCard > span:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(83, 83, 83);
    margin-top: 0.5rem;
}